pre,
code {
    font-family: "Lucida Console", "Courier New", monospace;
}

pre {
    overflow: auto;
}

pre>code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
    background-color: #f1f1f1;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Verdana', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

.heading:hover {
    cursor: pointer;
}

h2 {
    font-size: 32px;
    font-weight: normal;
}

#link {
    margin-left: 10%;
    font-weight: lighter;
    color: rgb(94, 93, 93);
}

#link:hover {
    font-weight: normal;

    cursor: pointer;
    color: black;
}

#left-panel {
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    border-right: 0.5px solid gray;
}

#right-panel {
    margin-left: 20%;
    padding-left: 2%;
    height: 100%;
    overflow: auto;
}